.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
*.tar.gz
.DS_Store
inst/doc
/doc/
/Meta/
.Rproj.user/
.Rhistory
.RData
docs
submission_jss/
paper/
spconform_JSS_submission.zip
*.Rcheck/
*.aux
*.log
*.out
*.toc
*.synctex.gz
__pycache__/
Rplots.pdf
tests/testthat/Rplots.pdf
cran_monitor.pyw
cran-comments.md
CRAN_RELEASE*/
comments.rtf
asa_student_paper_knn*
chambers_award_description*
draft_ideas_spconform*
mentor_*
spconform_knn_theory*
cover_image.jpg
r_bloggers_article.md
secret_lab_*
jasc_website/
code.Rmd
code.md
code.html
inst/scripts/code.Rmd
inst/scripts/code.md
inst/scripts/code.html
figures_html/
inst/scripts/figures_html/
